.DS_Store
/node_modules
/public/build
/public/docs
/client/globbed-*
/client/node_modules
/server/globbed-*
/server/node_modules
/server/public
/deploy/node_modules
/deploy/.serverless
/deploy/build
/deploy/public
/configuration.sh
/fiddle.js


# for the new organization
# TODO remove _ prefix

/_deploy/*/build.js
/_deploy/*/build.js.map
/_app/*/node_modules
