.DS_Store
/node_modules
/public/build
/client/globbed-*
/client/node_modules
/server/globbed-*
/server/node_modules
/server/public
/deploy/node_modules
/deploy/.serverless
/deploy/build.js
/deploy/build.js.map
/deploy/public
/secrets.sh
