# the usual culprits
.DS_Store
/node_modules

# personal local files
/configuration.sh
/fiddle.js

# symlinks
/app/*/node_modules

# globbed things
/**/globbed-*.js

# built parts
/deploy/*/.serverless
/deploy/*/build
/deploy/cloudflare-static/dist
/deploy/cloudflare-static/public/build
/deploy/cloudflare-static/public/docs
/deploy/cloudflare-static/worker/build
/deploy/cloudflare-static/worker/worker
/deploy/docker-dynamodb/docker
