service: todo-app

provider:
  name: aws
  runtime: nodejs12.x
  stage: ${opt:stage}
  region: us-east-1
  memorySize: 128
  timeout: 10
  logRetentionInDays: 7
  deploymentBucket:
    blockPublicAccess: true
    name: todo-app-1498571
    maxPreviousDeploymentArtifacts: 1
  versionFunctions: false
  endpointType: edge
  apiGateway:
    shouldStartNameWithService: true

functions:
  api:
    handler: lambda.handler
    events:
      - http:
          path: /
          method: get
      - http:
          path: /{proxy+}
          method: any

resources:
  Resources:
    usersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: todo-app-${opt:stage}
        AttributeDefinitions:
          - AttributeName: pk
            AttributeType: S
          - AttributeName: sk
            AttributeType: S
        KeySchema:
          - AttributeName: pk
            KeyType: HASH
          - AttributeName: sk
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST
