service: todo-journal

provider:
  name: aws
  runtime: nodejs14.x
  stage: ${opt:stage}
  region: us-east-1
  memorySize: 128
  timeout: 10
  logRetentionInDays: 7
  deploymentBucket:
    blockPublicAccess: true
    name: todo-journal-1498571
    maxPreviousDeploymentArtifacts: 1
  versionFunctions: false
  endpointType: edge
  apiGateway:
    shouldStartNameWithService: true
  environment:
    STAGE: ${opt:stage}
    TJ_TABLE_NAME: todo-journal-${opt:stage}
    TJ_ADMIN_EMAIL_ADDRESS: admin+${opt:stage}@todojournal.com
    TJ_API_DOMAIN: todojournal.com
    # NOTE: When run locally, these environment variables won't be set, but
    # in production they will be set via this YAML file, so we use that to
    # detect what environment we're in when running local.
    NODE_ENV: production
    IS_DEPLOYED: "true"

functions:
  api:
    handler: lambda.handler
    events:
      - http:
          path: /
          method: get
      - http:
          path: /{proxy+}
          method: any

resources:
  Resources:
    usersTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: todo-journal-${opt:stage}
        AttributeDefinitions:
          - AttributeName: pk
            AttributeType: S
          - AttributeName: sk
            AttributeType: S
        KeySchema:
          - AttributeName: pk
            KeyType: HASH
          - AttributeName: sk
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST
