name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 14.x ]
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run build
    # https://stackoverflow.com/questions/2871181/replacing-some-characters-in-a-string-with-another-character
    - run: STAGE="${GITHUB_HEAD_REF//[^a-zA-Z0-9]/-}" && npm run deploy
