name: development-deploy

on:
  push:
    branches: [ develop ]

jobs:
  build:
    environment: dev
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 16.x ]
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run setup
    - run: npm run test
    - run: npm run build
    - env:
        STAGE: develop
        AWS_ACCOUNT_ID: 985731193180
        AWS_REGION: us-east-1
        AWS_ACCESS_KEY_ID: AKIA6LARILFOADPJH4N2
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        CF_ACCOUNT_ID: bd5d47aef41fb2139f547a3349f5716f
        CF_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
        LOG_LEVEL: debug
        TJ_TABLE_NAME: todojournal-develop
        TJ_ADMIN_EMAIL_ADDRESS: admin+develop@todojournal.com
        TJ_API_DOMAIN: develop.todojournal.com
        BASE_URL: "https://develop.todojournal.com"
      run: npm run deploy
    - env:
        STAGE: dev
        BASE_URL: "https://develop.todojournal.com/"
      run: npm run integration
