name: production-deploy

on:
  push:
    branches: [ main ]

jobs:
  build:
    environment: prod
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 16.x ]
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run setup
    - run: npm run test
    - run: npm run build
    - run: npm run release
      env:
        STAGE: production
        AWS_ACCOUNT_ID: 985731193180
        AWS_REGION: us-east-1
        AWS_ACCESS_KEY_ID: AKIA6LARILFOECUCK52P
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        CF_ACCOUNT_ID: bd5d47aef41fb2139f547a3349f5716f
        CF_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
        LOG_LEVEL: warn
        TJ_TABLE_NAME: todojournal-production
        TJ_ADMIN_EMAIL_ADDRESS: admin+production@todojournal.com
        TJ_API_DOMAIN: todojournal.com
        BASE_URL: "https://todojournal.com"
    - run: node ./set-email-templates.js
      env:
        STAGE: production
        AWS_ACCOUNT_ID: 985731193180
        AWS_REGION: us-east-1
        AWS_ACCESS_KEY_ID: AKIA6LARILFOECUCK52P
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        TJ_TABLE_NAME: todojournal-production
    - run: npm run integration-cleanup
      env:
        STAGE: production
        AWS_ACCOUNT_ID: 985731193180
        AWS_REGION: us-east-1
        AWS_ACCESS_KEY_ID: AKIA6LARILFOECUCK52P
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        TJ_TABLE_NAME: todojournal-production
    - run: npm run integration
      env:
        STAGE: production
        BASE_URL: "https://todojournal.com/"

