name: testing-deploy

on:
  push:
    branches: [ 'feature/*' ]

jobs:
  build:
    environment: test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [ 16.x ]
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run setup
    - run: npm run test
    - run: npm run build
    - run: docker run -p 3001:8000 amazon/dynamodb-local --name dynamodb & # the "&" backgrounds the task
    - run: npm run dynamodb-init
    - run: npm run start
    - run: npm run integration
